body{
    background-color: #272B30;
}
:root{
     --main-font: "Comforter Brush", cursive;
     --second-font: "Nerko One", cursive;
}

/* .mt-n1 {
  margin-top: -4rem !important;
} */

 
nav.navbar {
  position: sticky;
  top: 0;
  z-index: 1030;
}


nav .container .navbar-brand{
    font-family: var(--second-font);
    font-size: 30px;
}

.link{
    color: white;
    transition: color 0.5s ease-in;
    font-weight: 400;
}

.link:hover{
    color: #0691C4;
}


.card {
  transition: transform 0.3s ease;
}

.card:hover .card-body .card-title span{
    background-color: #0D6EFD !important;
}
.card-title span {
  transition: background-color 0.3s ease;
}


.card:hover {
  transform: scale(1.05);
}

.gray-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
  transition: opacity 0.3s ease;
}

.card:hover .gray-overlay {
  opacity: 0;
  transform: scale(1.5);
}

#loader {
  margin: 2rem auto;
}


.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  color: #514b82;
  background: 
    conic-gradient(from 90deg at 3px 3px,#0000 90deg,currentColor 0)
    -3px -3px/calc(50% + 1.5px) calc(50% + 1.5px);
  animation: l28 2s infinite;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background: repeating-conic-gradient(#0000 0 35deg,currentColor 0 90deg);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 3px),#000 0);
  border-radius: 50%;
}
.loader::after {
  margin: 20%;
}
@keyframes l28 {
  100% {transform: rotate(1turn)}
}
